html{
    margin: 0;
    padding: 0;
    background-color: var(--light-green);
}

:root{
    --light-green: #e4f1ac;
    --dark-green: #A7D477;
    --light-pink: #FF748B;
    --dark-pink: #F72C5B;
}

/* Nav Section */
nav{
    margin: 0;
    background-color: var(--dark-green);
    padding: 0.5rem;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover, a:visited{
    color: var(--dark-pink);
}

/* Home Section */
#home{
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 7em;
}

#home button{
    padding: 1.5rem;
    font-size: 4.8em;
    border-radius: 20%;
    background-color: var(--light-pink);
    color: white;
    border-color: white;
}

#home button:hover{
    background-color: var(--dark-pink);
    color: var(--light-pink);
    border-color: var(--dark-pink);
}