:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-green: #e4f1ac;
  --dark-green: #A7D477;
  --light-pink: #FF748B;
  --dark-pink: #F72C5B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-pink);
  background-color: var(--light-green);
}

nav {
  font-weight: 500;
  color: var(--dark-pink);
  padding: 1.3rem 1rem;
  background-color: var(--dark-green);
}

nav a {
  text-decoration: none;
  padding: 1em;
  font-weight: 600;
  font-size: large;
}

a:hover, a.active-link {
  color: var(--light-pink);
  text-decoration: underline;
}


/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
