:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light-green: #e4f1ac;
  --dark-green: #A7D477;
  --light-pink: #FF748B;
  --dark-pink: #F72C5B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-pink);
  background-color: var(--light-green);
}

nav {
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--dark-pink);
  font-weight: 600;
  font-size: large;
  font-weight: 500;
  padding: 1rem;
  margin-right: 1rem;
}

a:hover, a.focus {
  color: var(--light-pink);
  text-decoration: none;
  border: 0.2rem solid var(--light-pink);
}

a.active-link {
  color: var(--light-green);
}

button {
  padding: 0.9rem 1.2rem;
  margin: 0.3rem;
  border-radius: 20%;
  border-color: var(--dark-pink);
  background-color: var(--light-pink);
  color: white;
  font-weight: 600;
  font-size: large;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
